# This is a basic workflow to help you get started with Actions

name: Release Workflow

# Controls when the workflow will run
on:
  push:
    branches:
    - main
    - release/*

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
    steps:
    - uses: actions/checkout@v4
      with:
          fetch-depth: 0
          persist-credentials: false
    - name: Set Git config
      run: |
        git config user.name "hieunt"
        git config user.email "trunghieuit2906@gmail.com"
    - uses: actions/setup-node@v4
      with:
        node-version: '20.x'
    - name: Install Dependencies
      run: npm ci
    - name: Deploy
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      run: npx semantic-release
