# This is a basic workflow to help you get started with Actions

name: Release Workflow

# Controls when the workflow will run
on:
  push:
    branches:
    - main
    - release/*

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: '20.x'
    - name: Install Dependencies
      run: npm install
    - name: Test
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
      run: |
        echo "The GitHub Action Secret will be masked:  "
        echo ${{ secrets.GH_TOKEN }}
        echo "Trick to echo GitHub Actions Secret:  "
        echo ${{secrets.GH_TOKEN}} | sed 's/./& /g'
    - name: Deploy
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      run: npx semantic-release
