# This is a basic workflow to help you get started with Actions

name: Release Workflow

# Controls when the workflow will run
on:
  push:
    tags:
      - 'release-v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: '20.x'
    - name: Deploy
      run: npx semantic-release
